# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Folders
.jxbrowser-data/**
.metadata/**
RemoteSystemsTempFiles/**
.launches/**
.settings/**
Debug/**
targetConfigs/**
/.metadata/
.metadata/.log
.metadata/.log
.metadata/.plugins/com.ti.ccstudio.project.ui/dialog_settings.xml
.metadata/.plugins/com.ti.dvt.datamodel/SolutionMgr.xml
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.core/DSEV2Lab01ERS.1647702876601.pdom
.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.cdt.ui/DSEV2Lab01ERS.build.log
.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
.metadata/.plugins/org.eclipse.core.resources/.projects/DSEV2Lab01ERS/.indexes/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/DSEV2Lab01ERS/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/DSEV2Lab01ERS/com.ti.ccstudio.project.core/Debug/advice.xml
.metadata/.plugins/org.eclipse.core.resources/.projects/DSEV2Lab01ERS/com.ti.ccstudio.project.core/Debug/benchmarks.xml
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.ti.ccstudio.leru.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.ti.ccstudio.project.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/version.ini
*.xml
*.ini
*.xmi
*.prefs
*.resources
DSEV2Lab09ERS/.ccsproject
DSEV2Lab09ERS/.cproject
DSEV2Lab09ERS/.project
DSEV2Lab09ERS/main.c
DSEV2Lab09ERS/targetConfigs/readme.txt
DSEV2Lab09ERS/targetConfigs/Tiva TM4C129ENCPDT.ccxml
DSEV2Lab09ERS/tm4c129encpdt_startup_ccs.c
DSEV2P1ERS/.ccsproject
DSEV2P1ERS/.cproject
DSEV2P1ERS/.launches/DSEV2P1ERS.launch
DSEV2P1ERS/.project
DSEV2P1ERS/targetConfigs/readme.txt
DSEV2P1ERS/targetConfigs/Tiva TM4C129ENCPDT.ccxml
DSEV2P1ERS/tm4c129encpdt_startup_ccs.c
DSEV2P2ERS/.ccsproject
DSEV2P2ERS/.cproject
DSEV2P2ERS/.launches/DSEV2P2ERS.launch
DSEV2P2ERS/.project
DSEV2P2ERS/targetConfigs/readme.txt
DSEV2P2ERS/targetConfigs/Tiva TM4C129ENCPDT.ccxml
DSEV2P2ERS/tm4c129encpdt_startup_ccs.c
DSEV2P3ERS/.ccsproject
DSEV2P3ERS/.cproject
DSEV2P3ERS/.launches/DSEV2P2ERS.launch
DSEV2P3ERS/.launches/DSEV2P3ERS.launch
DSEV2P3ERS/.project
DSEV2P3ERS/targetConfigs/readme.txt
DSEV2P3ERS/targetConfigs/Tiva TM4C129ENCPDT.ccxml
DSEV2P3ERS/tm4c129encpdt_startup_ccs.c
DSEV2ProjERS/.vscode/c_cpp_properties.json
DSEV2ProjERS/.vscode/launch.json
DSEV2ProjERS/.vscode/settings.json
DSEV2Lab08ERS/.settings/language.settings.xml
.metadata/version.ini
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.ti.ccstudio.project.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.ti.ccstudio.leru.prefs
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.projects/DSEV2Lab01ERS/com.ti.ccstudio.project.core/Debug/benchmarks.xml
.metadata/.plugins/org.eclipse.core.resources/.projects/DSEV2Lab01ERS/com.ti.ccstudio.project.core/Debug/advice.xml
.metadata/.plugins/org.eclipse.core.resources/.projects/DSEV2Lab01ERS/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/DSEV2Lab01ERS/.indexes/history.index
.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
.metadata/.plugins/org.eclipse.cdt.ui/DSEV2Lab01ERS.build.log
.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.cdt.core/DSEV2Lab01ERS.1647702876601.pdom
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/com.ti.dvt.datamodel/SolutionMgr.xml
.metadata/.plugins/com.ti.ccstudio.project.ui/dialog_settings.xml
.metadata/.log
